Repository f2hafner/ChessMate, pull requests merged in 2021-06, with the labels that each got.

#59 Game files testing
  app/src/main/java/com/game/chessmate/GameFiles/ChessBoard.java
  app/src/main/java/com/game/chessmate/GameFiles/PlayingPieces/ChessPiece.java
  app/src/main/java/com/game/chessmate/GameFiles/PlayingPieces/PlayingPiece.java
  app/src/main/java/com/game/chessmate/GameFiles/ResourceLoader.java
  app/src/test/java/com/game/chessmate/GameFiles/PlayingPieces/VectorTest.java
  app/src/test/java/com/game/chessmate/GameFiles/ResourceLoaderTest.java
Labels: Development, Testing

#63 Capture function
  app/src/main/java/com/game/chessmate/GameFiles/ChessBoard.java
  app/src/main/java/com/game/chessmate/GameFiles/Player.java
  app/src/main/java/com/game/chessmate/GameFiles/PlayingPieces/ChessPiece.java
  app/src/test/java/com/game/chessmate/GameFiles/PlayerTest.java
  app/src/test/java/com/game/chessmate/GameFiles/PlayingPieces/BishopTest.java
  app/src/test/java/com/game/chessmate/GameFiles/RenderThreadTest.java
Labels: Development, Testing

#69 Network structure merge
  ChessMateServer/.idea/uiDesigner.xml
  ChessMateServer/src/main/java/ChessMateServer.java
  ChessMateServer/src/main/java/GameStates.java
  ChessMateServer/src/main/java/Lobby.java
  ChessMateServer/src/main/java/LobbyManager.java
  ChessMateServer/src/main/java/Main.java
  ChessMateServer/src/main/java/PlayerObject.java
  ChessMateServer/src/test/java/ChessMateServerTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/game/chessmate/CreateSession.java
  app/src/main/java/com/game/chessmate/EnterCodeActivity.java
  app/src/main/java/com/game/chessmate/GameFiles/NetworkManager.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/joinSessionRequest.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/leaveLobbyRequest.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkManager.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkTasks.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/PlayerObject.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/SessionObject.java
  app/src/main/java/com/game/chessmate/GameFiles/PlayingPieces/ChessPiece.java
  app/src/main/res/layout/activity_enter_code.xml
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/values/colors.xml
  app/src/test/java/com/game/chessmate/GameFiles/NetworkManagerTest.java
Labels: Network

#81 added SensorPacket server and clientside
  ChessMateServer/src/main/java/ChessMateServer.java
  ChessMateServer/src/main/java/NetObjectRegistrator.java
  ChessMateServer/src/main/java/NetObjects/SensorActivationObject.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjectRegistrator.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/SensorActivationObject.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkManager.java
Labels: Network

#88 edited GameDataObject
  ChessMateServer/src/main/java/ChessMateServer.java
  ChessMateServer/src/main/java/Lobby.java
  ChessMateServer/src/main/java/LobbyManager.java
  ChessMateServer/src/main/java/Log.java
  ChessMateServer/src/main/java/Main.java
  ChessMateServer/src/main/java/NetObjects/GameDataObject.java
  ChessMateServer/src/main/java/NetObjects/GameStates.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/ChessMateServer.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/GameDataObject.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/movePlayingPieceRequest.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/movePlayingPieceResponse.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/startGameResponse.java
  app/src/main/res/layout/activity_lobby.xml
Labels: Development, Network, Refactoring, improvement

#92 added Error response and updated server
  ChessMateServer/src/main/java/ChessMateServer.java
  ChessMateServer/src/main/java/Lobby.java
  ChessMateServer/src/main/java/NetObjectRegistrator.java
  ChessMateServer/src/main/java/NetObjects/ErrorPacket.java
  ChessMateServer/src/main/java/ObjectSender.java
  app/src/main/java/com/game/chessmate/EnterCodeActivity.java
  app/src/main/java/com/game/chessmate/GameActivity.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjectRegistrator.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/ErrorPacket.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkTasks.java
Labels: Network, improvement

#93 lobby improvements
  ChessMateServer/src/main/java/LobbyManager.java
  ChessMateServer/src/main/java/ObjectSender.java
  app/src/main/java/com/game/chessmate/EnterCodeActivity.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkManager.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkTasks.java
  app/src/main/java/com/game/chessmate/Lobby.java
Labels: Network, improvement

#94 small refactoring of Lobby and LobbyManager
  ChessMateServer/src/main/java/LobbyManager.java
  app/src/main/java/com/game/chessmate/Lobby.java
Labels: Network, Refactoring

#95 Added error message text to createLobby
  ChessMateServer/src/main/java/LobbyManager.java
  app/src/main/java/com/game/chessmate/CreateSession.java
  app/src/main/java/com/game/chessmate/EnterCodeActivity.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/ChessMateClient.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkManager.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkTasks.java
Labels: Development, Network, Refactoring, improvement

#96 changed PlayerDataObject
  ChessMateServer/src/main/java/Lobby.java
  ChessMateServer/src/main/java/NetObjects/PlayerDataObject.java
  app/src/main/java/com/game/chessmate/GameFiles/ChessBoard.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/PlayerDataObject.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkTasks.java
Labels: Development, Network, improvement

#97 completed cheat functionality server and client side
  ChessMateServer/src/main/java/ChessMateServer.java
  ChessMateServer/src/main/java/Lobby.java
  ChessMateServer/src/main/java/NetObjects/GameDataObject.java
  ChessMateServer/src/main/java/ObjectSender.java
  app/src/main/java/com/game/chessmate/GameActivity.java
  app/src/main/java/com/game/chessmate/GameFiles/ChessBoard.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/GameDataObject.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkManager.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkTasks.java
  app/src/main/java/com/game/chessmate/GameFiles/PlayingPieces/ChessPiece.java
  app/src/main/java/com/game/chessmate/Lobby.java
Labels: Development, Network, improvement

#101 refactoring of cheatbutton display
  ChessMateServer/.idea/misc.xml
  ChessMateServer/src/main/java/NetObjects/GameDataObject.java
  app/src/main/java/com/game/chessmate/GameActivity.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetObjects/GameDataObject.java
  app/src/main/java/com/game/chessmate/GameFiles/Player.java
Labels: Network

#102 implemented cheat function end state
  ChessMateServer/src/main/java/ChessMateServer.java
  ChessMateServer/src/main/java/Lobby.java
  ChessMateServer/src/main/java/NetObjects/GameDataObject.java
  ChessMateServer/src/main/java/ObjectSender.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkManager.java
Labels: Network, improvement

#103 fixed some issues in the ChessMateServer class / added tests for mirrorfunction
  ChessMateServer/build.gradle
  ChessMateServer/src/main/java/ChessMateServer.java
  ChessMateServer/src/test/java/ChessMateServerTest.java
  app/src/main/java/com/game/chessmate/GameActivity.java
  app/src/main/java/com/game/chessmate/GameFiles/Card.java
  app/src/main/java/com/game/chessmate/GameFiles/ChessBoard.java
  app/src/main/java/com/game/chessmate/GameFiles/Networking/NetworkManager.java
Labels: Network

#105 added some tests for lobby, lobbymanager
  ChessMateServer/src/main/java/Lobby.java
  ChessMateServer/src/test/java/LobbyBasicTests.java
  ChessMateServer/src/test/java/LobbyJoinLeaveTests.java
  ChessMateServer/src/test/java/LobbyManagerTests.java
  ChessMateServer/src/test/java/LobbyMirrorFunctionTest.java
  ChessMateServer/src/test/java/LobbyRetrieveLobbyDataObjectTests.java
Labels: Network, Refactoring, Testing
